body{
  background-color: #cfcfcf;
  padding: 20px;
  margin: 0;
}

.title{
  color: rgb(5, 128, 177);
}

ul.header li{
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header{
  background-color: #08c2cf;
}

ul.header li {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

.content{
  background-color: white;
  padding: 20px;
}

.content h2{
  padding: 0;
  margin: 0;
}